# Projet de MLOps
## Prédiction de la consommation anuelle d'électricité 

Auteurs: Lilou Masson, Paul Hamann Cossart

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from preparation import data_cleaning, create_dfs

In [2]:
df = pd.read_csv(
    'DATA/consommation-quotidienne-brute.csv',
    sep = ';'
)
df = data_cleaning(df)
df_gaz, df_ele = create_dfs(df)

In [3]:
df.head(5)

,dat,heu,day,day_name,week,week_of_month,week_of_month_sin,week_of_month_cos,month,month_name,...,vac_d_hiv,vac_de_pri,vac_d_ete,vac_de_la_tou,top_fer,tmi,tma,tmo,con_bru_gaz_tot,con_bru_ele_rte
0,2012-01-01,00:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,0,0,0,0,1,NaN,NaN,NaN,55353.0,59610.0
1,2012-01-01,00:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,0,0,0,0,1,NaN,NaN,NaN,NaN,58314.0
2,2012-01-01,01:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,0,0,0,0,1,NaN,NaN,NaN,55444.0,56230.0
3,2012-01-01,01:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,0,0,0,0,1,NaN,NaN,NaN,NaN,56075.0
4,2012-01-01,02:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,0,0,0,0,1,NaN,NaN,NaN,55465.0,55531.0

In [4]:
df_gaz.head(5)

,dat,heu,day,day_name,week,week_of_month,week_of_month_sin,week_of_month_cos,month,month_name,...,vac_de_noe,vac_d_hiv,vac_de_pri,vac_d_ete,vac_de_la_tou,top_fer,tmi,tma,tmo,con_bru_gaz_tot
0,2012-01-01,00:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,55353.0
2,2012-01-01,01:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,55444.0
4,2012-01-01,02:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,55465.0
6,2012-01-01,03:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,56048.0
8,2012-01-01,04:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,57082.0

In [5]:
df_ele.head(5)

,dat,heu,day,day_name,week,week_of_month,week_of_month_sin,week_of_month_cos,month,month_name,...,vac_de_noe,vac_d_hiv,vac_de_pri,vac_d_ete,vac_de_la_tou,top_fer,tmi,tma,tmo,con_bru_ele_rte
0,2012-01-01,00:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,59610.0
1,2012-01-01,00:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,58314.0
2,2012-01-01,01:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,56230.0
3,2012-01-01,01:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,56075.0
4,2012-01-01,02:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,...,1,0,0,0,0,1,NaN,NaN,NaN,55531.0