# Projet de MLOps
## Prédiction de la consommation anuelle d'électricité 

Auteurs: Lilou Masson, Paul Hamann Cossart

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from preparation import normalize_columns, data_cleaning, create_dfs

In [2]:
df = pd.read_csv(
    'DATA/consommation-quotidienne-brute.csv',
    sep = ';'
)
df = data_cleaning(df)
df_gaz, df_ele = create_dfs(df)

In [3]:
df.head(5)

,dat,heu,day,day_name,week,week_of_month,week_of_month_sin,week_of_month_cos,month,month_name,year,vac_de_noe,vac_d_hiv,vac_de_pri,vac_d_ete,vac_de_la_tou,top_fer,con_bru_gaz_tot,con_bru_ele_rte
timestamp,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,2012-01-01,00:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,2012,1,0,0,0,0,1,55353.0,59610.0
2012-01-01 00:30:00,2012-01-01,00:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,2012,1,0,0,0,0,1,NaN,58314.0
2012-01-01 01:00:00,2012-01-01,01:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,2012,1,0,0,0,0,1,55444.0,56230.0
2012-01-01 01:30:00,2012-01-01,01:30:00,1,Sunday,52,1,0.951057,0.309017,1,January,2012,1,0,0,0,0,1,NaN,56075.0
2012-01-01 02:00:00,2012-01-01,02:00:00,1,Sunday,52,1,0.951057,0.309017,1,January,2012,1,0,0,0,0,1,55465.0,55531.0

In [ ]:
df_gaz.head(5)

                            dat       heu  con_bru_gaz_tot
timestamp
2012-01-01 00:00:00  2012-01-01  00:00:00          55353.0
2012-01-01 01:00:00  2012-01-01  01:00:00          55444.0
2012-01-01 02:00:00  2012-01-01  02:00:00          55465.0
2012-01-01 03:00:00  2012-01-01  03:00:00          56048.0
2012-01-01 04:00:00  2012-01-01  04:00:00          57082.0

In [ ]:
df_ele.head(5)

                            dat       heu  con_bru_ele_rte
timestamp
2012-01-01 00:00:00  2012-01-01  00:00:00          59610.0
2012-01-01 00:30:00  2012-01-01  00:30:00          58314.0
2012-01-01 01:00:00  2012-01-01  01:00:00          56230.0
2012-01-01 01:30:00  2012-01-01  01:30:00          56075.0
2012-01-01 02:00:00  2012-01-01  02:00:00          55531.0

Consommation brute gaz totale : données à l'heure
Consommation brute électrique totale : données à la demi-heure

Conso brute totale n'a pas de sens (addition d'un volume à l'heure et d'un volume à la demi-heure)  
on garde elec et gaz separement  

Pas de données elec pour décembre 2025  

Sinon, pas d'autres valeurs manquantes